{{template "base" .}} {{define "content"}}

<h1 class="text-8xl">Hiiiiiiii</h1>

<div class="w-full carousel rounded-box">
    <div class="carousel-item w-full">
        <img src="/static/images/img1.jpeg" class="w-full" alt="Tailwind CSS Carousel component" />
    </div>
    <div class="carousel-item w-full">
        <img src="/static/images/img2.jpeg" class="w-full" alt="Tailwind CSS Carousel component" />
    </div>
    <div class="carousel-item w-full">
        <img src="/static/images/img1.jpeg" class="w-full" alt="Tailwind CSS Carousel component" />
    </div>
    <div class="carousel-item w-full">
        <img src="/static/images/img2.jpeg" class="w-full" alt="Tailwind CSS Carousel component" />
    </div>
    <div class="carousel-item w-full">
        <img src="/static/images/img1.jpeg" class="w-full" alt="Tailwind CSS Carousel component" />
    </div>
    <div class="carousel-item w-full">
        <img src="/static/images/img2.jpeg" class="w-full" alt="Tailwind CSS Carousel component" />
    </div>
    <div class="carousel-item w-full">
        <img src="/static/images/img1.jpeg" class="w-full" alt="Tailwind CSS Carousel component" />
    </div>
</div>

{{end}}
